<section id="services" class="py-16 bg-white h-[85vh]">
  <div class="text-center text-4xl font-bold text-blue-600 mb-12">Our Cleaning Services</div>
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-12 container mx-auto px-4">

    <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
      <a href="#">
        <img class="rounded-t-lg"
          src="https://plus.unsplash.com/premium_photo-1677234147504-458d296b0113?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'"
          alt="" />
      </a>
      <div class="p-5">
        <a href="#">
          <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Residential Cleaning</h5>
        </a>
        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Our commercial cleaning services ensure your
          office, retail space, or building stays professional and spotless.</p>

      </div>
    </div>

    <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
      <a href="#">
        <img class="rounded-t-lg"
          src="https://plus.unsplash.com/premium_photo-1677234146598-90e9edc57bca?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          alt="" />
      </a>
      <div class="p-5">
        <a href="#">
          <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Commercial Cleaning</h5>
        </a>
        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Our commercial cleaning services ensure your office, retail space, or building stays professional and spotless.</p>

      </div>
    </div>

    <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
        <a href="#">
          <img class="rounded-t-lg"
            src="https://plus.unsplash.com/premium_photo-1677234147823-7df1ea360841?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
            alt="" />
        </a>
        <div class="p-5">
          <a href="#">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Move In/Move Out Cleaning</h5>
          </a>
          <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Moving? Let us handle the cleaning. We specialize in move-in and move-out deep cleaning services.</p>
  
        </div>
    </div>

    
  </div>
</section>