<section class="hero-image h-screen flex flex-col justify-center items-center text-center relative" style="background-image: url('https://plus.unsplash.com/premium_photo-1677234147281-3b505c036d36?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');">
  <div class="absolute inset-0 bg-black opacity-40"></div>
  <div class="relative z-10 text-white">
    <h1 class="text-6xl font-bold mb-8 tracking-widest">CleanIt</h1>
    <p class="text-lg mb-8 max-w-3xl mx-auto">We provide top-quality residential and commercial cleaning services, ensuring a spotless and healthy environment for you and your family or business.</p>
    <a href="/product" class="bg-blue-600 text-white py-3 px-8 text-xl rounded-full hover:bg-blue-700 transition duration-300">Explore Our Services</a>
  </div>
</section>